*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 200px;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    margin: 0 20%;
    padding-top: 100px;
}
header{
    background: rgb(248, 255, 215);
    width: 800px;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-titolo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    padding-bottom: 15px;
}

input{
    padding: 5px;
}

.container-input{
    display: flex;
    justify-content: center;
}

.button-delete-all{
    display: flex;
    justify-content: center;
}

#text{
    width: 350px;
    border-radius: 5px;
    box-shadow: 2px 2px grey;
    font-size: 18px;
    cursor: text;
}

#button{
    padding: 7px 20px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}



.aggiungi{
    background-color: rgba(40, 140, 253, 0.692);
    box-shadow: 2px 3px rgba(40, 140, 253, 0.495);
    color:rgb(255, 255, 255);
    transition: 0.2s;
}

.delete{
    background-color: rgba(245, 49, 49, 0.692);
    box-shadow: 2px 3px rgba(245, 49, 49, 0.495);
    color:rgb(255, 255, 255);
    transition: 0.2s;
}
.aggiungi:hover{
    transform: scale(1.1);
}
.delete:hover{
    transform: scale(1.1);
}


.container-task{
    background: rgb(255, 163, 163);
}

ul{
    background-attachment: fixed;
    padding: 0px 100px;
    cursor: pointer;
}

li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:20px 0 10px 0 ;
    min-width: 600px;
    padding: 10px 30px 0 30px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(236, 15, 15);
    text-transform: capitalize;
}

li a{
    color: rgb(0, 0, 0);
}

li:hover a{
    color:rgba(0, 0, 0, 0.6);
}

li:hover{
    background-color: rgb(194, 193, 193);
    transform: scale(101%);

}

li i{
    color: rgba(34, 33, 33, 0.37);
    padding-left: 10px;

}
.fas:hover{
    transform: scale(120%);
}

.fas:active{
    animation: mymove 5s infinite;
    animation-timing-function: linear;
}
.active{
    text-decoration: line-through;
    background-color: rgba(2, 131, 2, 0.842);
}

.active:hover{
    background-color: rgb(0, 196, 0);
}


