<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Todo List</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/style.css'>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>
<body>
    <div id="app">
        
        

        <div class="container">
            <h1 v-model="title">{{ title }}</h1>
            <div class="container-input">
                <input  id="text" type="text" v-model="todo" placeholder="Hey Man! What are you going to do?" @keydown.enter="addEvent">
                <input class="aggiungi" id="button" type="submit" value="+ ADD" @click="addEvent"  >
            </div>
            <input class="delete" id="button" type="submit" value="DELETE ALL" @click="deleteallEvent">
            
            <ul>
                
                <li v-for="(element, index) in list"  @click="event => event.target.classList.toggle('active')">
                    <a  href="#">{{element}}</a>
                    <a href="#"> <i class="fas fa-trash-alt"  @click="deleteEvent(index)"></i></a>
                </li>
            </ul>
        </div>
        
    </div>
    <script src='js/script.js'></script>

</body>
</html>