<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Todo List</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/style.css'>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="app">

        <div class="conteiner">

            <input type="text" v-model="todo" placeholder="new line" @keydown.enter="addEvent">
            <input type="submit" value="add" @click="addEvent"  >
            <ul>
                <li v-for= "(element, index) in list">
                    {{ element }}
                    <input type="submit" value="delete"  @click="deleteEvent(index)" >
                </li>
            </ul>
        </div>
        
    </div>


    <script src='js/script.js'></script>
</body>
</html>